In [7]:
import redis

r = redis.Redis(host='localhost',port=6379,db=0,decode_responses=True)

name_dict={
    'name_1':'Zarten_1',
    'name_2':'Zarten_2'
}

r.mset(name_dict)



print(r.keys())
print(r.mget('name_1','name_2'))
print(r.mget(['name_1','name_2']))

r.getset('name_1','hi')

print(r.get('name_1'))

length = r.setrange('name_2',1,'zhihu')
print(length)

v = r.setrange('name_4',0,2)
print(v)
print(r.strlen('name_1'),r.get('name_1'))

r.set('num_2',2)

v = r.incr('num_2')
print(v)
v = r.incrbyfloat('num_2')
print(v)

v = r.append('name_5',666)
print(v)

v = r.lpush('Zarten',1,2,3,4,5)
print(v)

v = r.lpush('Zarten',6)
print(v)

['a6', 'name_2', 'a4', 'foo', 'name_1', 'name_4', 'a9', 'a1', 'num_2', 'user', 'a8', 'a5', 'a2', 'a3', 'a7', 'name_5']
['Zarten_1', 'Zarten_2']
['Zarten_1', 'Zarten_2']
hi
8
1
2 hi
3
4.0
29
5
6

In [13]:
r = redis.Redis(host='localhost',port=6379,db=1,decode_responses=True)

r.hset('Zarten','age',10)
r.hmset('Zarten',{'sex':1,'tex':'123'})

v = r.hmget('Zarten',['sex','tex'])
print(v)
a = r.hget('Zarten','age')
print(a)

v = r.hscan('Zarten')
print(v)

v = r.hscan_iter('Zarten')
for i in v :
    print(type(i),i)

['1', '123']
10
(0, {'age': '10', 'sex': '1', 'tex': '123'})
<class 'tuple'> ('age', '10')
<class 'tuple'> ('sex', '1')
<class 'tuple'> ('tex', '123')

C:\Users\love2\AppData\Local\Temp\ipykernel_7816\2111289294.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset('Zarten',{'sex':1,'tex':'123'})

In [21]:
v = r.sadd('Zarten_1','apple','a','b','c')
print(v)

v = r.scard('Zarten_1')
print(v)

v = r.smembers('Zarten_1')
print(v)

v = r.srandmember('Zarten_1')
print(v)

v = r.sismember('Zarten_1','app1')
print(v)

0
4
{'b', 'c', 'apple', 'a'}
a
0

In [26]:
v = r.zadd('Zarten_m',{'a':3,'b':4})
print(v)

v = r.zadd('Zarten',c=5,d=6)
print(v)

0

TypeError: SortedSetCommands.zadd() got an unexpected keyword argument 'c'

In [36]:
import redis
import os
import json 

r = redis.Redis(host='localhost',port=6379,db=2,decode_responses=True)

folder_path = './data'
num = 1 

for filename in os.listdir(folder_path):
    if filename.endswith('.json'):
        file_path = os.path.join(folder_path,filename)
        
        with open(file_path,'r') as file :
            data = json.load(file)
        r.hmset(f'hash_{num}',data)
        num += 1

C:\Users\love2\AppData\Local\Temp\ipykernel_7816\599907332.py:16: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset(f'hash_{num}',data)

In [40]:
s = r.get('data_5')
print(s)

v = r.hgetall('hash_5')
print(v)

{"Pm25": "6", "Pm10": "21", "O3": "0", "Co2": "1.3", "Temperature": 26, "Humidity": 75}
{'Pm25': '6', 'Pm10': '21', 'O3': '0', 'Co2': '1.3', 'Temperature': '26', 'Humidity': '75'}

In [45]:
import pandas as pd 

df = pd.read_csv('./data/TDCS_M03A_20231121_080000.csv',header=None)
df.columns = ['time','gateway','direction','model','volume']
df

                  time   gateway direction  model  volume
0     2023-11-21 08:00  01F0005N         N     31      98
1     2023-11-21 08:00  01F0005N         N     32      28
2     2023-11-21 08:00  01F0005N         N     41       5
3     2023-11-21 08:00  01F0005N         N     42       2
4     2023-11-21 08:00  01F0005N         N      5       0
...                ...       ...       ...    ...     ...
1690  2023-11-21 08:00  05FR143N         N     31      35
1691  2023-11-21 08:00  05FR143N         N     32      10
1692  2023-11-21 08:00  05FR143N         N     41       0
1693  2023-11-21 08:00  05FR143N         N     42       1
1694  2023-11-21 08:00  05FR143N         N      5       2

[1695 rows x 5 columns]

In [46]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

def multiply(column, factor):
    return column * factor

result = df.apply(multiply, args=(10,))
print(result)

    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90