In [21]:
import redis
import pandas as pd
import json

df = pd.read_csv('TDCS_M03A_20231121_080000.csv',header=None)

r = redis.StrictRedis(host='localhost',port=6379,db=0)
df
#for index , row in df.iterrows():
    #data = row.tolist()
    #r.rpush('mylist',*data)
    #r.set(f"myjson:{index}",json_data)

                     0         1  2   3   4
0     2023-11-21 08:00  01F0005N  N  31  98
1     2023-11-21 08:00  01F0005N  N  32  28
2     2023-11-21 08:00  01F0005N  N  41   5
3     2023-11-21 08:00  01F0005N  N  42   2
4     2023-11-21 08:00  01F0005N  N   5   0
...                ...       ... ..  ..  ..
1690  2023-11-21 08:00  05FR143N  N  31  35
1691  2023-11-21 08:00  05FR143N  N  32  10
1692  2023-11-21 08:00  05FR143N  N  41   0
1693  2023-11-21 08:00  05FR143N  N  42   1
1694  2023-11-21 08:00  05FR143N  N   5   2

[1695 rows x 5 columns]